name: AWS EC2 CD

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

  steps:
  - uses: actions/checkout@v2

  - name: Deploy Server
    uses: appleboy/ssh-action@master
    with:
      key: ${{ secrets.EC2_SSH_KEY }}
      host: ${{ secrets.EC2_HOST_IP }}
      username: ec2-user
      script: |
        cd ~/waffleoverflow
        git switch master
        git pull origin master
        rm -rf src/main/resources/application.yml
        cp ~/application.yml src/main/resources/application.yml
        ./gradlew bootJar
        sudo systemctl restart initapp
        sudo systemctl restart nginx