name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle
    - name: Setup MySQL
      run: |
        sudo systemctl start mysql.service
        mysql -uroot -proot < ./scripts/sql/init-db.sql
    - name: Create application.yml
      run: cp "${{ secrets.APPLICATION }}" ./src/main/resources/
    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Cleanup Gradle Cache
      run: |
        rm -f ~/.gradle/caches/modules-2/modules-2.lock
        rm -f ~/.gradle/caches/modules-2/gc.properties
    - name: Upload JAR
      uses: actions/upload-artifact@v2
      with:
        name: Package
        path: build/libs
